.card {
  padding: $spacer-3;
  background: $color_tertiary_dark;
  max-width: 360px;
  img {
    margin-bottom: $spacer-2;
    @include transition(all 0.1s ease-out);
    &:hover {
      filter: brightness(0.8);
    }
  }
  .title {
    font-family: $type_head_font;
    font-weight: 700;
    margin-bottom: 0.2em;
    a {
      text-decoration: none;
    }
  }
  .description {
    font-size: 14px;
    margin-bottom: $spacer-2;
  }
  .taxonomy {
    font-size: 12px;
    color: $color_grey_600;
    display: inline-block;
  }
  .date {
    font-size: 12px;
    color: $color_grey_600;
    display: inline-block;
    margin-left: $spacer-3;
  }
}